<ion-view view-title="Login">
	<ion-content class="padding">
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="Email">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="password" placeholder="Password">
		  </label>
		  <a class="button button-block button-purple" href="#/list"> Get Me In</a>
		</div>
	</ion-content>
</ion-view>